.example-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.example {
  border: 16px solid #fff;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.example-vertical {
  flex-direction: column;
}

.example-white {
  background: #fff;
}

.example-black {
  background: #000;
}

.example-gray {
  background: #808080;
}

.example-checkerboard {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUzMzNNTU0WbksjAAAAFElEQVQI12NgYPj/n4GKBHVNYwAA7b0/wfSyzYsAAAAASUVORK5CYII=)
    repeat left top fixed;
  background-size: 16px 16px;
}

.example-item + .example-item {
  margin-left: 16px;
}

.example-vertical .example-item + .example-item {
  margin-left: 0;
  margin-top: 16px;
}

.example-checkerboard .example-item {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEWzs7PMzMwMsTJZAAAAFUlEQVQI12P4/5+BgYGKBFUN+/8fAO29P8FEXAQgAAAAAElFTkSuQmCC)
    repeat left top fixed;
  background-size: 16px 16px;
}
