.example-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.example {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.example-vertical {
  flex-direction: column;
}

.example-item {
  margin: 32px;
}

.example-white {
  background: #fff;
}

.example-black {
  background: #000;
}

.example-gray {
  background: #808080;
}

.example-checkerboard {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUzMzNNTU0WbksjAAAAFElEQVQI12NgYPj/n4GKBHVNYwAA7b0/wfSyzYsAAAAASUVORK5CYII=)
    repeat left top;
  background-size: 16px 16px;
}

.example-checkerboard .example-item {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEWzs7PMzMwMsTJZAAAAFUlEQVQI12P4/5+BgYGKBFUN+/8fAO29P8FEXAQgAAAAAElFTkSuQmCC)
    repeat left top;
  background-size: 16px 16px;
}
