@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-size: 16px;
  @apply font-sans;
}

body,
input,
button {
  @apply text-base;
}

/* focus animation */

.focus-animation,
.focus\:focus-animation:focus,
.focus-within\:focus-animation:focus-within,
*:focus .focus-parent\:focus-animation {
  animation: focus-animation 1 0.2s both;
}
@keyframes focus-animation {
  0% {
    box-shadow: inset 0 0 0 3px theme('colors.blue.500');
    animation-timing-function: ease-out;
  }
  100% {
    box-shadow: inset 0 0 0 0 theme('colors.blue.500');
  }
}

.focus-animation-white,
.focus\:focus-animation-white:focus,
.focus-within\:focus-animation-white:focus-within,
*:focus .focus-parent\:focus-animation-white {
  animation: focus-animation-white 1 0.2s both;
}
@keyframes focus-animation-white {
  0% {
    box-shadow: inset 0 0 0 4px theme('colors.white');
    animation-timing-function: ease-out;
  }
  100% {
    box-shadow: inset 0 0 0 1px theme('colors.white');
  }
}

.focus-animation-border,
.focus\:focus-animation-border:focus,
.focus-within\:focus-animation-border:focus-within,
*:focus .focus-parent\:focus-animation-border {
  animation: focus-animation-border 1 0.2s both;
}
@keyframes focus-animation-border {
  0% {
    box-shadow: inset 0 0 0 5px theme('colors.blue.500');
    animation-timing-function: ease-out;
  }
  100% {
    box-shadow: inset 0 0 0 2px theme('colors.blue.500');
  }
}

/* animation */

.fade-in {
  animation: fade-in 1 0.2s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-slide-in {
  animation: fade-slide-in 1 0.2s ease;
}

@keyframes fade-slide-in {
  0% {
    opacity: 0;
    transform: translate(0, -2rem);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* selection */

::selection {
  background: theme('colors.blue.500');
  color: theme('colors.white');
}

/* input[type=number] */

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type=range] */
/* range */
input[type='range'] {
  appearance: none;
  margin: 0;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 4px;
  cursor: pointer;
  background: theme('colors.gray.700');
  border-radius: 0;
  border: 0;
}
input[type='range']:hover::-webkit-slider-runnable-track {
  background: theme('colors.black');
}
input[type='range']:disabled::-webkit-slider-runnable-track {
  cursor: default;
  background: theme('colors.gray.400');
}
input[type='range']::-webkit-slider-thumb {
  border: 2px solid theme('colors.gray.700');
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background: theme('colors.white');
  cursor: pointer;
  appearance: none;
  margin-top: calc(-0.5rem + 2px);
}
input[type='range']:hover::-webkit-slider-thumb {
  border-color: theme('colors.black');
}
input[type='range']:disabled::-webkit-slider-thumb {
  border-color: theme('colors.gray.400');
  background: theme('colors.gray.200');
  cursor: default;
}
input[type='range']::-moz-focus-outer {
  border: 0;
}
input[type='range']::-moz-range-track {
  height: 4px;
  cursor: pointer;
  background: theme('colors.gray.700');
  border-radius: 0;
  border: 0;
}
input[type='range']:hover::-moz-range-track {
  background: theme('colors.black');
}
input[type='range']:disabled::-moz-range-track {
  cursor: default;
  background: theme('colors.gray.400');
}
input[type='range']::-moz-range-thumb {
  border: 2px solid theme('colors.gray.700');
  height: 1rem;
  width: 1rem;
  border-radius: 2rem;
  background: theme('colors.white');
  cursor: pointer;
}
input[type='range']:hover::-moz-range-thumb {
  border-color: theme('colors.black');
}
input[type='range']:disabled::-moz-range-thumb {
  border-color: theme('colors.gray.400');
  background: theme('colors.gray.200');
  cursor: default;
}
input[type='range']::-ms-track {
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: theme('colors.gray.700');
  border: 0;
  border-radius: 0;
}
input[type='range']::-ms-fill-upper {
  background: theme('colors.gray.700');
  border: 0;
  border-radius: 0;
}
input[type='range']::-ms-thumb {
  border: 2px solid theme('colors.gray.700');
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: theme('colors.white');
  cursor: pointer;
  height: 2px;
}
input[type='range']:focus::-ms-fill-lower {
  background: theme('colors.gray.700');
}
input[type='range']:focus::-ms-fill-upper {
  background: theme('colors.gray.700');
}

/* scrollbar decoration */

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: theme('colors.gray.200');
}

::-webkit-scrollbar-track {
  background: theme('colors.gray.200');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.gray.400');
  box-shadow: inset 0 0 0 3px theme('colors.gray.200');
}

::-webkit-scrollbar-corner {
  background: theme('colors.gray.200');
}

/* react-notification-system */

.notification {
  @apply bg-white;
  @apply border;
  @apply border-l-4;
  @apply shadow;
  @apply text-xs;
  @apply p-2;
  @apply mt-2;
}

.notification-info {
  @apply bg-blue-100;
  @apply border-blue-500;
}

.notification-success {
  @apply bg-green-100;
  @apply border-green-500;
}

.notification-warning {
  @apply bg-yellow-100;
  @apply border-yellow-600;
}

.notification-error {
  @apply bg-red-100;
  @apply border-red-500;
}

.notification-message {
  @apply flex-grow;
  @apply leading-normal;
}

/* react-split-pane */

.Resizer {
  background-clip: padding-box;
  box-sizing: border-box;
}

.Resizer:hover {
  transition: all 0.2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  cursor: col-resize;
}

.Resizer.disabled {
  cursor: default;
}

.Resizer.disabled:hover {
  border-color: transparent;
  color: #cccccc;
}
